* {
  margin: 0;
  padding: 0;
  font-family: ystem-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::selection {
  background-color: #7fd1ae;
}

html {
  scroll-behavior: smooth;
}

/* Start Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 50px;
  padding: 10px;
  background-color: #111111;
  margin: 0 auto;
  z-index: 4;
}

.navbar-name {
  position: absolute;
  top: 16px;
  left: 10%;
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.navbar-item {
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-out;
  margin: 0 40px;
  display: block;
}

#navbar-item-home {
  margin-left: 30%;
}

.navbar .navbar-item:hover {
  color: #009fa9;
}

.navbar-item.active {
  color: #009fa9;
  font-weight: bold;
  padding: 4px 6px;
  transition: all 0.2s ease-out;
}

.checkbtn {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 60px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .checkbtn {
    display: block;
  }

  .navbar-name {
    font-size: 16px;
    top: 24px;
  }

  .navbar-item {
    display: none;
  }

  #side-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background-color: #111111;
    color: white;
    position: absolute;
    top: 70px;
    right: 30px;
    min-width: 400px;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }

  .dropdown-content a {
    text-decoration: none;
  }

  .dropdown-content p {
    margin: 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  .dropdown-content p:hover {
    color: #009fa9;
  }

  #side-icon.active .dropdown-content {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .dropdown-content {
    min-width: 240px;
  }
}

#check {
  display: none;
}

/* End Navbar */

/* Home - Header section */
.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #00303a;
  height: 80vh;
  width: 100%;
}

.home-header .info {
  width: 500px;
  margin: auto;
}

.home-header h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 0 #7fd1ae;
}

#type-writer {
  color: #009fa9;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 2px 0 #fff;
}

.img-me {
  width: 350px;
  height: 350px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 5px 10px 20px #7fd1ae;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  .img-me {
    width: 280px;
    height: 280px;
    margin-left: 32px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .home-header .info {
    margin-bottom: 24px;
  }

  .home-header h1 {
    font-size: 50px;
  }

  #type-writer {
    font-size: 60px;
  }

  .img-me {
    margin-bottom: 200px;
  }

  .home-header {
    height: 100vh;
  }
}

@media screen and (max-width: 450px) {
  .home-header .info {
    width: 300px;
  }

  .home-header h1 {
    font-size: 46px;
  }

  .img-me {
    width: 180px;
    height: 180px;
  }

  #type-writer {
    font-size: 40px;
  }
}

/* start about Section */
.about {
  height: 500px;
  background-color: #324b4d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

.about-text {
  font-weight: bold;
  width: 60%;
  align-self: center;
  justify-self: center;
}

.about-text h2 {
  margin-top: 18px;
  padding-left: 14px;
  font-size: 42px;
}

.about-text span {
  color: #009fa9;
}

.about-text p {
  padding: 18px 0;
  font-size: 18px;
}

#about-title-bg {
  position: absolute;
  font-size: 160px;
  color: #7fd1ae;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .about {
    height: 700px;
  }

  .about-text {
    width: 80%;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-text span {
    color: #009fa9;
  }

  .about-text p {
    padding: 14px 0;
    font-size: 18px;
  }

  #about-title-bg {
    font-size: 100px;
  }
}

@media screen and (max-width: 450px) {
  .about {
    height: 700px;
  }

  .about-text {
    width: 90%;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-text span {
    color: #009fa9;
  }

  .about-text p {
    padding: 14px 0;
    font-size: 14px;
  }

  #about-title-bg {
    font-size: 50px;
  }
}
/* End About Section */

/* Start Portfolio Section */

.portfolio,
.portfolio-container {
  background-color: #00303a;
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.card-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

/* End Portfolio Section */

/* Start Contact Section */

.contact {
  height: 500px;
  background-color: #324b4d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

#contact-info {
  font-weight: bold;
  width: 60%;
  align-self: center;
  justify-self: center;
  transform: translateY(100px);
}

.contact-info h2 {
  margin-top: 18px;
  padding-left: 14px;
  font-size: 42px;
  color: #009fa9;
}

.contact-info a {
  text-decoration: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /* z-index: 3; */
}

.contact-info img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

#contact-title-bg {
  position: relative;
  font-size: 160px;
  color: #7fd1ae;
  opacity: 0.1;
  cursor: default;
  transform: translateY(-200px);
}

#github-logo {
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 768px) {
  .contact {
    height: 700px;
  }

  .contact-info {
    width: 80%;
    transform: translateY(60px);
  }

  .contact-info h2 {
    font-size: 32px;
  }

  #contact-title-bg {
    font-size: 100px;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    height: 700px;
  }

  .contact-info {
    width: 90%;
  }

  .contact-info h2 {
    font-size: 28px;
  }

  #contact-title-bg {
    font-size: 50px;
  }
}

/* End Contact Section */

/* Arrow up */

.arrow-up {
  position: fixed;
  bottom: 14px;
  right: 14px;
  font-size: 50px;
}

.arrow-up a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-out;
}

.arrow-up:hover a {
  color: #7fd1ae;
}

/* End Arrow up */

/* Start Show-up Effect */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 1s ease-out;
}

.show {
  opacity: 1;
  transform: none;
  filter: none;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* End Show-up Effect */
