* {
  margin: 0;
  padding: 0;
  font-family: ystem-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* background-color: #686868; */
}

::selection {
  background-color: #7fd1ae;
}

/* Start Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 50px;
  padding: 10px;
  background-color: #111111;
  margin: 0 auto;
}

.navbar-name {
  position: absolute;
  top: 16px;
  left: 10%;
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.navbar-item {
  color: rgb(240, 235, 235);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-out;
  margin: 0 40px;
  display: block;
}

#navbar-item-home {
  margin-left: 30%;
}

.navbar .navbar-item:hover {
  color: #009fa9;
}

.navbar-item.active {
  color: #009fa9;
  font-weight: bold;
  padding: 4px 6px;
  transition: all 0.2s ease-out;
}

.checkbtn {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 60px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .checkbtn {
    display: block;
  }

  .navbar-name {
    font-size: 16px;
    top: 24px;
  }

  .navbar-item {
    display: none;
  }

  #side-icon {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    color: white;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  #side-icon:hover .dropdown-content {
    display: block;
  }
}

#check {
  display: none;
}

/* End Navbar */

/* Home - Header section */
.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #00303a;
  height: 80vh;
}

.home-header .info {
  width: 45%;
  /* margin: auto; */
}

.home-header h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 0 #7fd1ae;
}

#type-writer {
  color: #009fa9;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 2px 0 #fff;
}

.img-me {
  width: 400px;
  height: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 5px 10px 20px #7fd1ae;
  margin-right: 32px;
}

@media screen and(max-width: 768px) {
  .home-header .info {
    width: 45%;
    margin-left: -50px;
    /* transform: translateX(-40px); */
  }
  #type-writer {
    font-size: 50px;
  }
}

/* About Section */
.about {
  /* position: absolute; */
  height: 500px;
  background-color: #324b4d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

.about-text {
  font-weight: bold;
  width: 60%;
  align-self: center;
  justify-self: center;
}

.about-text h2 {
  margin-top: 18px;
  padding-left: 14px;
  font-size: 42px;
}

.about-text span {
  color: #009fa9;
}

.about-text p {
  padding: 18px 0;
  font-size: 18px;
}

#about-title-bg {
  position: absolute;
  /* top: 0; */
  font-size: 160px;
  color: #7fd1ae;
  opacity: 0.1;
  /* transform: translateY(-100px); */
}

/* End About Section */
